* {
    margin: 0;
    padding: 0;
}

.login-signup-page {
    background-color: #f7f6f1;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-signup-container {
    padding: 20px;
    width: 500px;
    border-radius: 10px;;
    background-color: #fff;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.2);
}

.login-signup-input {
    margin-top: 10px;
    ;
    border: 1px solid black;
    height: 40px;
}

.google-login,
.login-btn {
    margin-top: 10px;
    ;
    width: 100%;
    height: 40px;
    display: flex;
    font-size: 25px;
    padding-top: 0;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, #232526 0%, #414345 51%, #232526 100%);
    margin-bottom: 10px;;

}

.google-icon {
    padding: 5px;
    margin-top: 3px;
}

.login-text {
    text-align: center;
}
.select-role{
    padding-left:15px;
}
/* .navbar{
    height:80px;
    width:100%;
    background-color: #232526;
    display:flex;
    justify-content: center;
    align-items: center;;
} */

.navbar{
    height:80px;
    width:100%;
    background-color: #fff;
    position: fixed;
    top:0;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 999;
}
.navbar-left{
    width:50%;
    display: flex;;
    justify-content: flex-start;
    align-items: center;

}
.navbar-right{
    width: 50%;;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bag-icon-navbar{
    width: 20px;
    height: 16px;
}
.pages{
    display: flex;
    width: 400px;
    justify-content: space-around;
   margin-left: 30px;;
    
}
.page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &:hover{
        cursor: pointer;
    }
}

.slider-image{
    margin-top:100px;
}
.home-container{
    position: relative;
}
.myntra-logo{
    height:35px;
    margin: auto 80px;;
}


.menu-categories{
    width:100%;
    height: 100%;
    border: none;

padding-top: 0;
    display: flex;
    justify-content: flex-start;
    font-size: medium;
    font-weight: 600;
}

.ant-menu-submenu{
    padding-top: 17px !important;
}
.carousel{
    margin-bottom: 60px;
}

.categories{
    display:flex;
    width:100%;
    justify-content: center;
    background-color: black;
    color: #232526;
    align-items: center;
    font-weight: 600;;
}


.search-outlined{
    padding-right: 20px;
}

.ant-input{
    background-color: rgb(245, 247, 250);
    &::placeholder{
    font-size: 15px;
    }
   
}
.search-navbar{
    width:75%;
    height:40px;
    background-color: rgb(245, 247, 250);
    font-size: large;
    color:#232526;
    
}


.nav{
    width:80%;
    display:flex;
    justify-content: space-between;

}
.profile-btn-nav{
    background-color: #fff;
    border:none;
    width:200px;
    height:50px;
    font-size: large;
    font-weight: 600;
    color:#232526;

}


.item-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.items{
    margin-top: 30px;
    width: 80%;
    display:flex;
    justify-content: space-evenly;
    
    flex-wrap: wrap;
    
}
.item{
    margin:20px;
    &:hover{
        cursor: pointer;
        box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.2);

    }
}
.item-h1{
    text-align: center;
}
/* .item-name{
    display: flex;
    justify-content: space-between;
} */
.item-btns{
    display: flex;
    border:1px solid black;
}

.add-to-cart-btn{
    width:50%;
    height: 40px;
    background-color: #232526;
    border:none;
    color:white;
    cursor: pointer;
    font-size: 16px;
    &:hover{
        font-size: 20px;
    }
}
.buy-btn{
    width:50%;
    height: 40px;
    border:none;
    cursor: pointer;
    font-size: 16px;
    &:hover{
        font-size: 20px;
    }
    /* background-color:#414345; */
    /* background-color: #fff; */
}

.addproductbtn{
    display: flex;;
    justify-content: flex-end;
}
.submit-add-product{
    margin-left: 10px;;
}
.cart-items{
    display: flex;
    width:40vw;
    
    border: 1px solid black;
}
.total-price-cart{
    position: fixed;
    border: 1px solid black;
    right:130px;
    height:400px;
    width:400px;
}
.cart-container{
    display:flex;
}
.c-i{
    width:70%;
    justify-content: center;
    border: 1px solid black;
}

.add-quantity{
    display:flex;
}

.cart-add-remove{
    display: flex;
    justify-content: center;
    align-items:center;
    width:50%;
    height: 40px;
    background-color: #232526;
    border:none;
    color:white;
    cursor: pointer;
    font-size: 16px;
    
}
.cart-p-m{
    width: 20px;
    height: 20px;
    margin: 20px;
    &:hover{
        cursor: pointer;
    }
    /* font-size: large; */
}
.product-detail-container{
    width:95vw;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
}

.product-details{
    padding-top: 20px;
    display: flex;
    /* background-color: brown; */
    height: 80%;
    width: 80%;
}

.product-page-image{
    height: 48%;
    width: 48%;
}
.product-images{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width:60%;
    height: 100%;
}
.product-item-details{
    padding-left: 10px;
    padding-top: 5px;
    width: 40%;
}

.show-product-no-of-items{
    display: flex;
    justify-content: center;
}
.no-of-items{
    width:40px;
    margin: 0 10px;
}
.total-price-product-detail{
    margin-top: 5px;
    text-align: center;
}
.product-page-add-to-cart, .buy-now-btn{
    width:48%;
    height: 55px;;
    font-size: large;
    font-weight: 600;
    border-radius: 2px;;
    border:none;
    &:hover{
        cursor: pointer;
    }
}
.product-page-add-to-cart{
    color:white;
    background-color: rgb(243, 39, 93)
}
.product-page-btns{
    display: flex;
    justify-content: space-between;
}
.buy-now-btn{
    background-color: white;
    border:1px solid rgb(151, 151, 151);
}
.add-to-cart-icon{
    font-size: large;
}